body {
    margin: 0;
    text-align: center;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.time-container {
    width: 250px;
    padding: 10px 20px;
    font-size: xx-large;
    background-color: white;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 80px;
    background-color: red;
    border: 5px solid black;
    border-radius: 5px;
}
.point-container {
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.point-box {
    font-size: 10rem;
    width: 250px;
    margin: 20px;
    background: black;
    border-radius: 5px;
}

.btn {
    padding: 20px 20px;
    border-radius: 5px;
}
.new-game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 16px;
}
.new-game-btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: teal;
    color: white;
}

.leader {
    color:yellow
}